<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mapper.Mapper">

<!--    <select id="getUserById" parameterType="int" resultType="com.entity.User">-->
<!--        SELECT * FROM users WHERE id = #{id}-->
<!--    </select>-->

    <!-- 其他查询和映射关系 -->
    <select id="getAllUsers" resultType="com.entity.User">
        SELECT * FROM user
    </select>

    <delete id="deleteUserById" parameterType="int">
        DELETE FROM user WHERE userId = #{id}
    </delete>

    <select id="getUserById" parameterType="int" resultType="com.entity.User">
        SELECT * FROM user WHERE userId = #{id}
    </select>

    <update id="updateUser" parameterType="com.entity.User">
        UPDATE user
        SET userName = #{username}, phoneNumber = #{phone}, isHost = #{isHost}
        WHERE userId = #{id}
    </update>
    <insert id="addUser" parameterType="com.entity.User" >
        INSERT INTO user (userName, userPwd, phoneNumber, isHost) VALUES (#{username}, #{password}, #{phone}, #{isHost})
    </insert>
    <select id="getAllHouses" resultType="com.entity.House">
        SELECT * FROM house
    </select>

    <delete id="deleteHouseById" parameterType="int">
        DELETE FROM house WHERE houseId = #{id}
    </delete>

    <select id="getHouseById" parameterType="int" resultType="com.entity.House">
        SELECT * FROM house WHERE houseId = #{id}
    </select>

    <update id="updateHouse" parameterType="com.entity.House">
        UPDATE house
        SET address = #{address}, price = #{price}, checkStatement = #{checkStatement},
        hostUserId = #{hostUserId}, image = #{image}, title = #{title}
        WHERE houseId = #{houseId}
    </update>

    <insert id="addHouse" parameterType="com.entity.House">
        INSERT INTO house (address, price, checkStatement, hostUserId, image, title)
        VALUES (#{address}, #{price}, #{checkStatement}, #{hostUserId}, #{image}, #{title})
    </insert>

</mapper>


